{% extends 'index.html' %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
    {% if cars %}
        <h1>Available cars</h1>
        <table class="table table-striped">
            <tr>
                <td><b>Car</b></td>
                <td><b>Manufacturer</b></td>
            </tr>
            {% for car in cars %}
                <tr>
                    <td>{{car.name}}</td>
                    <td>{{car.manufacturer.name}}</td>
                </tr>
             {% endfor %}
        </table>
    {% endif %}
{% endblock %}